<form [formGroup]="searchForm" (submit)="search(searchForm)">
  <div>
    <label>Title:</label>
    <input formControlName="title" type="text">

    <select formControlName="priority">
      <option [ngValue]="null">Select</option>
      <option *ngFor="let priority of priorities">
        {{priority}}
      </option>
    </select>

    <select formControlName="reporter">
      <option [ngValue]="null">Select</option>
      <option *ngFor="let reporter of reporters">
        {{reporter}}
      </option>
    </select>


    <select formControlName="status">
      <option [ngValue]="null">Select</option>
      <option *ngFor="let status of statuses">
        {{status}}
      </option>
    </select>

    <button type="submit">Search</button>
  </div>
</form>

<a [routerLink] = "['bugs/new']">Report New Bug</a>
<table mdbTable>
  <thead>
      <tr>
        <td *ngFor="let head of headElements" scope="col" (click)="sorting(head)">{{head}} </td>
      </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let bug of bugs">
      <td>{{bug.title}}</td>
      <td>{{bug.priority}}</td>
      <td>{{bug.reporter}}</td>
      <td>{{bug.createdAt | date:'shortDate' }}</td>
      <td>{{bug.status}}</td>
      <td>{{bug.id}}</td>
      <td>{{bug.description}}</td>
      <td>
        <a [routerLink] = "['bugs/edit']" [queryParams]="{id: bug.id }"> <i class="fa fa-edit"></i></a>
      </td>
      <td (click)="delete(bug.id)">
          <i class="fa fa-trash-alt"></i>
      </td>
    </tr>
  </tbody>
</table>

<!-- <router-outlet></router-outlet> -->

<button (click) = "paging('previous')" [disabled]="currentPage<1"> <img src="https://image.flaticon.com/icons/svg/14/14926.svg" height="10px" ></button>
{{currentPage+1}}
<button (click) = "paging('next')" [disabled]="currentPage+1==totalPages"><img src="https://image.flaticon.com/icons/svg/32/32213.svg" height="10px"></button>
