<a [routerLink] = "['bugs/new']">Report New Bug</a>
<table mdbTable>
  <thead>
      <tr>
          <td *ngFor="let head of headElements" scope="col" (click)="sorting(head)">{{head}} </td>
      </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let bug of bugs">
      <td>{{bug.title}}</td>
      <td>{{bug.priority}}</td>
      <td>{{bug.reporter}}</td>
      <td>{{bug.createdAt | date:'shortDate' }}</td>
      <td>{{bug.status}}</td>
      <td><a><img src="https://cdn3.iconfinder.com/data/icons/text-editing-2/100/Artboard_29-512.png" height="25px"></a></td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
