<form [formGroup]="maintainForm" (submit)="formSubmit(maintainForm)">
  <div>
    <label>Title:</label>
    <input formControlName="title" type="text">
  </div>
  <div>
    <label>Description:</label>
    <input formControlName="description" type="text">
  </div>
  <div>
    <input type="radio" formControlName="priority" value="3">
    <label for="Minor">Minor</label>
    <input type="radio" formControlName="priority" value="2">
    <label for="Major">Major</label>
    <input type="radio" formControlName="priority" value="1">
    <label for="Critical">Critical</label>
  </div>
  <div>
    <input type="radio" formControlName="reporter" value="QA">
    <label for="QA">QA</label>
    <input type="radio" formControlName="reporter" value="PO">
    <label for="PO">PO</label>
    <input type="radio" formControlName="reporter" value="DEV">
    <label for="DEV">DEV</label>
  </div>
  <div>
    <input type="radio" formControlName="status" value="Ready for test">
    <label for="Ready for test">Ready for test</label>
    <input type="radio" formControlName="status" value="Done">
    <label for="Done">Done</label>
    <input type="radio" formControlName="status" value="Rejected">
    <label for="Rejected">Rejected</label>
  </div>
  <div *ngIf="!commentsMode">
    <div>
      <button type="submit">Submit Bug</button>
    </div>
  </div>
  <div *ngIf="commentsMode"><br>
  <div (click) = "addComments(true)">
       Add New Comment <i class="far fa-plus-square"></i>
  </div><br>
  <div>
    <button type="submit">Submit New Comments</button>
  </div>
  <ol> Comments List
    <div *ngFor="let commentGroup of getControls(maintainForm, 'comments')">
      <div [formGroup]="commentGroup">
        <li>
          <div>
            <label>Reporter:</label>
            <input type="radio" formControlName="reporter" value="QA">
            <label for="QA">QA</label>
            <input type="radio" formControlName="reporter" value="PO">
            <label for="PO">PO</label>
            <input type="radio" formControlName="reporter" value="DEV">
            <label for="DEV">DEV</label>
          </div>
          <div>
            <label>Description:</label>
            <textarea formControlName="description" style="resize:none" rows = "5" cols = "50" name = "description">
            Enter your name
            </textarea>
          </div>
        </li>
      </div>
    </div>
  </ol>
</div>

</form>
