<form [formGroup]="maintainForm" (submit)="formSubmit(maintainForm)">
  <h3 class="mat-subheader">Bug Details</h3>
  <div class="mat-elevation-z4 mat-submit">
    <div>
      <mat-form-field appearance="outline" class=form-title>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="Title">
        <mat-hint>Enter your bug title</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" placeholder="Description">
        <mat-hint>Enter your bug description</mat-hint>
      </mat-form-field>
    </div>

    <label class="label-priority">Select Priority</label>
    <div class="group-priority">
      <mat-radio-group aria-labelledby="radio-group-priority" formControlName="priority" required>
        <mat-radio-button class="radio-button-priority" value="3"> <label for="Minor">Minor</label>
        </mat-radio-button>
        <mat-radio-button class="radio-button-priority" value="2"> <label for="Major">Major</label>
        </mat-radio-button>
        <mat-radio-button class="radio-button-priority" value="1"> <label for="Critical">Critical</label>
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <label class="label-reporter">Select Reporter</label>
    <div class="group-reporter">
      <mat-radio-group aria-labelledby="radio-group-reporter" formControlName="reporter" required>
        <mat-radio-button class="radio-button-reporter" *ngFor="let reporter of reporters" [value]="reporter">
          {{reporter}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <label class="label-status">Select Status</label>
    <div class="group-status">
      <mat-radio-group aria-labelledby="radio-group-status" formControlName="status">
        <mat-radio-button class="radio-button-status" *ngFor="let status of statuses" [value]="status">
          {{status}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="!commentsMode">
      <div>
        <button mat-raised-button color="primary" class="button-submit"
          [disabled]="(this.submitBugAlreadyPressed || !this.maintainForm.valid  || !this.maintainForm.dirty)">Submit</button>
      </div>
    </div>
  </div>

  <div *ngIf="commentsMode">
    <div class="button-block">
      <button mat-raised-button color="primary" type="button" (click)="addComments(true)" class="button-submit">Add New
        Comment</button>
    </div><br>
    <div *ngIf="!maintainForm.controls.comments.disabled" class="button-block">
      <button mat-raised-button color="primary" type="button" class="button-submit float-right"
        [disabled]="(!this.maintainForm.valid  || !this.maintainForm.dirty)">Submit Comment</button>
    </div>
    <h3 class="mat-subheader">Comments List</h3>

    <div class="comments-list">
      <div class="mat-comments mat-elevation-z4"
        *ngFor="let commentGroup of getControls(maintainForm, 'comments'); let idx = index">
        <div [formGroup]="commentGroup">
          <div class="mat-list-reporter">
            <mat-form-field appearance="standard">
              <mat-label>Reporter Name</mat-label>
              <input matInput formControlName="reporter" required>
            </mat-form-field>
          </div>
          <div class="mat-list-comments">
            <mat-form-field class="mat-list-text-area">
              <textarea matInput formControlName="description" placeholder="Description" required></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button mat-icon-button class="back-button" [routerLink]="['']">
    <mat-icon>arrow_back</mat-icon>
  </button>
</form>
