.form-title{
  margin-right: 15px;
  margin-bottom: 15px;
}
.radio-group-priority {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button-priority {
  margin: 5px;
  font-size: 15px;
}

.group-reporter {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.radio-button-reporter {
  margin: 5px;
  font-size: 15px;
}


.group-priority {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.radio-button-priority {
  margin: 5px;
  font-size: 15px;
}

.group-status {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.radio-button-status {
  margin: 5px;
}

.button-submit {
  color: white;
  background-color: indigo;
}

.back-button{
  background-color: #2ecc71;
  color: white;
  transform: scale(1.3);
  display: block;
  position: fixed;
  bottom: 70px;
  right: 50px;
  -webkit-box-shadow: 7px 7px 10px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 7px 10px -3px rgba(0,0,0,0.75);
box-shadow: 7px 7px 10px -3px rgba(0,0,0,0.75);
}

.label-priority{
  color: indigo;
  font-size: 15px;
}

.label-status{
  color: indigo;
  font-size: 15px;
}

.label-reporter{
  color: indigo;
  font-size: 15px;
}

.mat-subheader{
  color: indigo;
}

.mat-list-reporter{
 width:100%;
 display:block;
}

.mat-list-comments{
  width:100%;
  display:block;
}

.mat-list-text-area{
   width:100%;
  // width: 800px;
}

.mat-comments{
  width:100%;
  margin-top: 5px;
  margin-bottom:5px;
  padding: 20px;
}

.mat-submit{
  padding: 20px;
  width:100%;
}

.float-right{
  right: 0;
}

.button-block{
  width:100%;
  padding-top: 20px;
  height: 20px;
  button{
    position: relative;
    float: right;
  }
}
