<form [formGroup]="searchForm" (submit)="search(searchForm)">
  <div>
    <label>Title:</label>
    <input formControlName="title" type="text">

    <select formControlName="priority">
      <option [ngValue]="null">Select</option>
      <option *ngFor="let priority of priorities">
        {{priority}}
      </option>
    </select>

    <select formControlName="reporter">
      <option [ngValue]="null">Select</option>
      <option *ngFor="let reporter of reporters">
        {{reporter}}
      </option>
    </select>


    <select formControlName="status">
      <option [ngValue]="null">Select</option>
      <option *ngFor="let status of statuses">
        {{status}}
      </option>
    </select>

    <button type="submit">Search</button>
  </div>

